<h1>Country Details</h1>


<h2>{{oneCountry.name}} ({{oneCountry.alpha3Code}})</h2>
<img class="flagImg" src="{{oneCountry.flag}}" alt="flag" />

<h3><b>Region:</b> {{oneCountry.region}}</h3>
<h3><b>Sub Region:</b> {{oneCountry.subregion}}</h3>

<h3><b>Population:</b> {{oneCountry.population}}</h3>
